@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
div#main-container {
  margin: 100px;
}

:root {
  --white: #fff;
  --headingThree: #73758a;
  --hoverBgColor: #283c4b;

}

li {
  margin: 15px;
}

section {
  margin: 20px;
  /* border: 1px solid black; */
  /*   box-shadow: 0px 0px 10px grey; */
  background-color: var(--white);
  padding: 20px;
  transition: 1s;
  border-radius: 10px;
}

section > h3 {
  border-bottom: 3px solid var(--headingThree);
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--headingThree);
}
#profile-section:hover {
  background-color: var(--hoverBgColor);
  color: var(--white);
}

#profile-section div#profile > img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  /* border: 1px solid #fff; */
  border-radius: 50%;
  background-color: var(--hoverBgColor);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

section:hover {
  background-color: var(--hoverBgColor);
  box-shadow: 0px 0px 20px grey;
  color: var(--white);
}

#mainContent {
  display: flex;
}
#profile-section #contactLinks a i {
  color: var(--headingThree);
}
#profile-section #contactLinks {
  font-size: 2rem;
  display: flex;
  margin: 10px;
  justify-content: center;
  justify-content: space-around;
}

#contactLinks a i:hover {
  color: #fff;
  transform: scale(1.3);
}

@media screen and (max-width: 499px) {
  div#main-container {
    margin: 10px;
  }

  section {
    padding: 20px;
  }
  #profile-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  #profile-section div#profile > img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 50px auto;

  }
  #mainContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

  div#main-container {
    margin: 20px;
  }

  #profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  #profile-section #details {
    padding: 20px 0px;
  }

  #profile-section div#profile > img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 50px auto;

  }
}

@media screen and (min-width: 992px) {

  div#main-container {
    margin: 50px;
  }
  #profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #profile-section #details {
    padding: 20px 0px;
  }
}
